llm:
  groq:
    provider: "groq"
    model_name: "deepseek-r1-distill-llama-70b"
    temperature: 0
    max_output_tokens: 2048
  google:
    provider: "google"
    model_name: "gemini-2.0-flash"
    temperature: 0
    max_output_tokens: 2048
  openrouter:
    provider: "openrouter"
    model_name: "google/gemini-3.1-pro-preview"
    temperature: 0
    max_output_tokens: 2048
